<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638238450713-bpsopv8jksaturu02g1rfl49bmc31ok3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638238450713-bpsopv8jksaturu02g1rfl49bmc31ok3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638238450713-lhvcmsp9n48r6kgk3k858ogq5iiqjojj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgO7X_BzTFkKItjedGsO3O-ddTf1GGOE</string>
	<key>GCM_SENDER_ID</key>
	<string>638238450713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokia.app</string>
	<key>PROJECT_ID</key>
	<string>sokia-b46f4</string>
	<key>STORAGE_BUCKET</key>
	<string>sokia-b46f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638238450713:ios:a568b1bdb802d92546b688</string>
</dict>
</plist>